<ion-view title="Profil">
  <ion-content class="padding">
    <h1>Account2</h1>
<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Nickname">
  </label>
  <label class="item item-input">
    <textarea placeholder="Description"></textarea>
  </label>
</div>
<div class="list">
  <label class="item item-input item-select">
    <div class="input-label">
      Your affinity
    </div>
    <select>
      <option>Blue</option>
      <option selected>Yellow</option>
      <option>Red</option>
    </select>
  </label>
</div>
<ul class="list">

  <li class="item item-checkbox">
     <label class="checkbox">
       <input type="checkbox">
     </label>
     I have a dream
  </li>
</ul>
  </ion-content>
</ion-view>
