<ion-view title="Participants">
  <ion-content>
    <div class="list people-list">
      <div class="item" collection-repeat="p in data.peoples"
           collection-item-width="'100%'"
           collection-item-height="83" ng-style="{height: 83}">
        <span class="pull-right label {{p.profile.id}}">{{p.profile.name}}</span>
        <h2>{{p.name}}</h2>
        <span class="pull-right button button-xsmall button-icon ion-more" ng-click="openPopover($event, p)"></span>
        <p>{{p.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
