<ion-view title="Les participants">
  <ion-nav-buttons side="right">
    <button class="button button-clear" ng-click="openNotifPopover($event)">
      <i class="icon ion-ios7-bell-outline" ng-show="(unreadNotifs = (data.notifs | filter:{read: false})).length === 0"></i>
      <i class="icon ion-ios7-bell" ng-show="unreadNotifs.length > 0"></i>
      <span class="badge badge-assertive" ng-show="unreadNotifs.length > 0">{{unreadNotifs.length}}</span>
    </button>
  </ion-nav-buttons>

  <ion-content>
    <loader ng-show="!(data.users && data.users.length > 0)"></loader>
    <ion-refresher ng-show="data.users && data.users.length > 0" on-refresh="doRefresh()"
                   pulling-text="Recharger les données..." refreshing-text="Rechargement!" refreshing-icon="ion-loading-c"></ion-refresher>
    <div class="list people-list">
      <div class="item {{user.profile.status.id}}"
           ng-repeat="user in data.users | matchUser:data.user | filter:search"
           ng-show="user && user.profile && user.profile.name">
        <span class="pull-right button button-small button-positive" ng-click="hep(user)" ng-disabled="data.hepSent[user.id]">Hep !</span>
        <h2><i class="icon ion-ribbon-b" ng-show="user.profile.pitcher"></i> {{user.profile.name}}</h2>
        <p>{{user.profile.description}}</p>
      </div>
    </div>
  </ion-content>

  <ion-footer-bar class="item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios7-search placeholder-icon"></i>
      <input type="search" placeholder="Chercher ..." ng-model="search">
    </label>
    <button class="button button-clear" ng-click="search = '';">Vider</button>
  </ion-footer-bar>
</ion-view>
