<ion-view title="Mon profil">
  <ion-content>
    <div class="list card">
      <label class="item item-input item-floating-label">
        <span class="input-label">Nom :</span>
        <input type="text" placeholder="Nom" ng-model="data.user.profile.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Description :</span>
        <textarea placeholder="Description" ng-model="data.user.profile.description"></textarea>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Profil :</div>
        <select ng-model="data.user.profile.status" ng-options="profile as profile.name for profile in data.status track by profile.id"></select>
      </label>
      <div class="item item-toggle">
        Porteur de projet :
        <label class="toggle toggle-balanced">
          <input type="checkbox" ng-model="data.user.profile.pitcher">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="save(data.user.profile)" ng-disabled="data.saving">
        <i class="icon ion-loading-c" ng-show="data.saving"></i> Mettre à jour
      </button>
    </div>
  </ion-content>
</ion-view>
