/* Empty. Add your own CSS if you like */

.people-list .item {
  left: 0;
  right: 0;
}

.people-list .item .dev   { background-color: #d9534f; }
.people-list .item .biz   { background-color: #f0ad4e; }
.people-list .item .crea  { background-color: #428bca; }
